<!DOCTYPE html>

<html>
    <head>
    <title>Weather</title>
    <link rel="icon" href="/img/wth.png">
    <link rel="stylesheet" href="/css/styles.css">
    
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <p id ="p3" class="class-p"></p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="p1"></p>
        <p id="p2"></p>
        </div>
        
        

        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html> 